<div class="container-fluid" style=" padding: 0px; margin: 0px;">
    <nav class="navbar  ">
      <div class="container-fluid">
        <a class="" routerLink="weight_converter">Weight-Converter</a>
        <a class="" routerLink="todo_list">Todo</a>
        <a class="" routerLink="time_interval">Time-Interval</a>
        <a class="" routerLink="weather">Weather</a>
        <a class="" routerLink="increment_decrement">Increment-Decrement</a>
        <a class="" routerLink="parent_c">Component-Interaction</a>
        <a class="" routerLink="pipe">Pipes</a>
        <a class="" routerLink="reactive_form">Reactive-Form</a>
        <a class="" routerLink="login">Auth</a>
        <a class="" routerLink="dashboard">dashboard</a>
        <a class="" routerLink="view_child">View-Child</a>
        <a class="" routerLink="subject_boss">Subject</a>
        <a class="" routerLink="technology">child-Routing</a>
        <a class="" routerLink="searching">searching</a>
      </div>
    </nav>
  </div>