<div class="main-box my-5">
   
    <div class="row">
        <div class="col-6">
            Hello {{username}}
            <br>
            <br>
            <small>subject is used to update property in one component and it will change in every component</small>
            <br>
            <small>Behaviour subject is similler to subject but it put a initial value to property</small>
        </div>
        <div class="col-6"><app-first></app-first></div>  
    </div>
    <br><br>
    <div class="row">
        <div class="col-6"><app-second></app-second></div>
        <div class="col-6"><app-third></app-third></div>
    </div>
</div>